:root {
    --color-white: #fff;
    --color-gray-blue: #515969;
    --color-lite-brown: #faebd7;
    --color-gray: #808080;
    --color-dark-red: #8B0000;
    --color-lite-red: #ffcccc;
    --color-black: #000;
}